# Ignore Python cache files
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
*.npy

# distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# environments
.env
.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
